trigger:
  - main
resources:
  - repo: self
variables:
 - name: SECILL
   value: ${{ secrets.MY_SECRET }}
stages:
  - stage: Build
    displayName: Build image
    jobs:
      - job: Build
        displayName: Build
        pool:
          name: Default
        steps:
          - task: Docker@2
            displayName: Build an image
            inputs:
              command: build
              dockerfile: Dockerfile
              tags: ''
              arguments: '-t secilns/ss:$(Build.BuildId)v '
